process {
    withName: GUNZIP_TAXONOMY {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: HELPER_FORMAT_MIDORI {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/midori/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: BLAST_MAKEBLASTDB {
        ext.args = "-dbtype nucl"
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/databases" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: UNZIP_MIDORI {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UNTAR_TAXONOMY|HELPER_FORMAT_GENBANK_TAXIDS' {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UNTAR_UNITE|HELPER_FORMAT_UNITE' {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/unite" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UNTAR_NCBI' {
        ext.prefix = "ncbi_its"
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/ncbi_its" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_INSTALL_GENBANK {
        ext.args = "-d core_nt"
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/databases" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
 
}

