process {
    withName: 'MINIMAP2_ALIGN_DB' {
        ext.args = "-x map-ont"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HELPER_FASTA_FILTER_CONSENSUS' {
        ext.args = "--cutoff 0.05"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: HELPER_FASTA_SIZE_FROM_COVERAGE {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/OTU" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
}