process {
    withName: 'SAMTOOLS.*' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping/samtools" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CDHIT_CDHITEST' {
        ext.args = "-c ${params.cdhit_cluster_id}"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping/clustering" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MINIMAP2_ALIGN_DB' {
        ext.args = "-x map-ont"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HELPER_FASTA_FILTER_CONSENSUS' {
        ext.args = "--cutoff 0.01"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: HELPER_ONT_MAPPING_REPORT {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MINIMAP2_ALIGN_DB {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping/minimap/db" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MINIMAP2_ALIGN_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mapping/minimap/consensus" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_FASTA_SIZE_FROM_COVERAGE {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/OTU" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
}