process {
    withName: VSEARCH_DEREPFULL {
        ext.args = [
            "--strand plus",
            "--sizeout",
            "--fasta_width 0",
            "-minuniquesize 2"
        ].join(' ')
    }
    withName: VSEARCH_FASTXUNIQUES {
        ext.args = [
            "--strand plus",
            "--fasta_width 0"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/vsearch/raw" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_CLUSTER_SIZE {
        ext.args = [
            "--strand plus",
            "--sizein",
            "--sizeout",
            "--relabel OTU_",
            "--id ${params.vsearch_cluster_id}"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/OTUs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = [
            "--minsize 8",
            "--unoise_alpha 2"
        ].join(' ')
    }   
    withName: VSEARCH_FASTQFILTER_READS {
        ext.args = [ 
            "--fastq_maxee ${params.max_expected_errors}",
            "--fastq_maxn ${params.max_ns}",
            params.iontorrent ? "--fastq_qmax 50" : "" // IonTorrent S5 output may exceed the normal limit of the phred scale (40)
        ].join(" ")
    }
    withName: VSEARCH_FASTQFILTER {
        ext.args = [ 
            "--fastq_minlen ${params.amplicon_min_length}",
            "--fastq_maxlen ${params.amplicon_max_length}",
            ( params.iontorrent || params.ont ) ? "--fastq_qmax 50" : "" // IonTorrent S5 output may exceed the normal limit of the phred scale (40)
        ].join(" ")
    }
    withName: VSEARCH_FASTQMERGE {
        ext.args = "--fastq_allowmergestagger"
    }
    withName: 'VSEARCH_DEREPFULL|VSEARCH_UCHIME_DENOVO|VSEARCH_CLUSTER_SIZE' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/vsearch/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_SORTBYSIZE {
        ext.args = "--minsize 3 --sizein --sizeout"
        publishDir = [
            path: { "${params.outdir}/vsearch/raw" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'VSEARCH_FASTQMERGE|VSEARCH_FASTQFILTER|VSEARCH_FASTQJOIN|' {
        publishDir = [
            path: { "${params.outdir}/vsearch/raw" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_ORIENT {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/orienting" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}