process {
    withName: VSEARCH_ORIENT {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/orienting" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_FASTXUNIQUES {
        ext.args = [
            "--strand plus",
            "--fasta_width 0"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/vsearch/raw" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}