site_name: FooDMe2 Documentation
site_url: https://bio-raum.github.io/FooDMe2
site_description: Food DNA Metabarcoding analysis
site_author: Grégoire Denay and Marc Höppner
repo_url: https://github.com/bio-raum/FooDMe2

nav:
  - Home:
    - Welcome: index.md
    - Contibuting: about/contributing.md
    - Release notes: about/changelog.md
  - User Guide:
    - Quickstart: user_doc/quickstart.md
    - Requirements: user_doc/requirements.md
    - Installation: user_doc/installation.md
    - Usage: user_doc/usage.md
    - Pipeline: user_doc/pipeline.md
    - Output: user_doc/output.md
    - Technologies: user_doc/technologies.md
    - Custom database: user_doc/custom_database.md
    - Custom primers: user_doc/custom_primers.md
  - Methods:
    - Standard methods: methods/methods.md
    - 16S mammals and birds: methods/amniotes_dobrovolny.md
    - 16S insects: methods/16S_hillinger.md
    - 16S fish: methods/16S_fish.md
    - COI insects: methods/COI_park.md
    - COI fish: methods/COI_guenther.md
    - CYTB fish: methods/CYTB_asu12.md
    - trnL plants: methods/trnL_taberlet.md
    - rbcL plants: methods/rbcL_little.md
    - ITS2 plants: methods/ITS2_AGES.md
  - Help:
    - Migration: help/migration.md
    - Troobleshooting: help/troubleshooting.md
  - Developer Guide: developer.md
  - About:
    - Software: about/software.md
    - License: about/license.md
    - Legal notes: about/legal.md

theme:
  name: material
  custom_dir: docs/overrides
  logo: img/pipelinelogo.png
  favicon: img/favicon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: deep orange
      toggle:
        icon: material/eye
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: deep orange
      toggle:
        icon: material/eye-outline
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
    annotation: material/help-circle
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.path
    - toc.follow
    - content.code.copy
    - content.code.annotate

strict: true

validation:
  nav:
    omitted_files: warn
    not_found: warn
    absolute_links: warn
  links:
    not_found: warn
    anchors: warn
    absolute_links: warn
    unrecognized_links: warn

plugins:
  - search

extra:
  version:
    provider: mike
    default: latest
    alias: true

markdown_extensions:
  - attr_list
  - def_list
  - md_in_html
  - tables
  - toc:
      toc_depth: 3
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright:
  Copyrigth &copy; GNU-GPL - 2024 Grégoire Denay and Marc Höppner
