params {

    input                   = null
    reads                   = null

    outdir                  = "results"

    list_primers            = false
    list_dbs                = false

    reference_base          = null
    reference_version       = "1.4"

    primer_set              = null
    primers_txt             = null
    primers_fa              = null
    db                      = null
    blast_db                = null

    disable_low_complexity  = false
    blast_low_complexity    = "-dust no -soft_masking false"
    blast_evalue            = "1e-20"
    blast_qcov              = 100
    blast_perc_id           = 97
    blast_bitscore_diff     = 4
    blast_min_consensus     = 0.51

    taxid_filter            = null      // NCBI taxonomy id
    blocklist               = "${baseDir}/assets/blocklist.txt"

    non_overlapping         = false

    vsearch                 = false    // use VSEARCH instead of DADA

    vsearch_min_cov         = 5
    vsearch_cluster_id      = 0.97
    cdhit_cluster_id        = 0.97 // Similarity threshold for ONT OTU clustering

    max_mismatch            = 1
    remove_chimera          = true
    amplicon_min_length     = 70
    amplicon_max_length     = 100
    max_expected_errors     = 2
    max_ns                  = 0
    // cluster_method       = "asv" currently doing nothing
    merging_max_mismatch    = 1

    pacbio                  = false
    iontorrent              = false
    ont                     = false

    porechop                = false
    ont_reads_min_q         = 15 // minimum quality (Q, phred) for ONT reads to be included

    options                 = false

    fastp_options           = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 25"

    cutadapt_trim_3p        = false
    cutadapt_trim_flex      = false
    cutadapt_ont            = false // Do not filter incompletely trimmed reads
    cutadapt_options        = "-m 40"
    store_reads             = false

    build_references        = false
    skip_genbank            = false

    ground_truth            = false
    benchmark_rank          = 'genus'
    benchmark_cutoff        = 0.001     // 0.1%

    logo                    = "${baseDir}/assets/pipelinelogo.png"
    run_name                = null

    skip_report             = false

    plaintext_email         = false
    skip_multiqc            = false
    email                   = false

    maxMultiqcEmailFileSize = 25.MB

    // multiqc_config          = "${baseDir}/conf/multiqc_config.yaml"
    // multiqc_logo            = "${baseDir}/assets/pipelinelogo.png"

    publish_dir_mode        = "copy"

    custom_config_base      = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"

}

manifest {
    name = "bio-raum/FooDMe2"
    version = "1.4.0dev"
    description = "FooDMe2 Pipeline | Profiling eukaryotic taxa from mitochondrial amplicons"
    author = "Gregoire Denay and Marc Hoeppner"
    homePage = "https://github.com/bio-raum/FooDMe2"
    nextflowVersion = "24.10.5"
    defaultBranch = 'main'
}

plugins {
  id 'nf-schema@2.4.0'
}

validation {
    help {
        enabled = true
    }
    summary {
        hideParams = [ "references", "primers" ]
    }
}

//nextflow.enable.configProcessNamesValidation = false

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// Primer options to pre-set / override some defaults
includeConfig 'conf/primers.config'

// Load the default config files
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'

profiles {

    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
    }
    singularity {
        docker.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        singularity.enabled = true
    }
    podman {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        podman.enabled = true
    }
    conda {
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    test {
        includeConfig 'conf/test.config'
    }
    github_test {
        includeConfig 'conf/github_test.config'
    }
    dobrovolny_benchmark {
        includeConfig 'conf/dobrovolny_benchmark.config'
    }
}

/*
Pre-set some options based on a pre-configured primer set
*/
includeConfig params.primers.keySet().contains(params.primer_set) ? params.primers[params.primer_set].config : "/dev/null"

// Module-specific configuration options
includeConfig 'conf/modules.config'
includeConfig 'conf/modules/dada2.config'
includeConfig 'conf/modules/ont.config'
includeConfig 'conf/modules/vsearch.config'
//includeConfig 'conf/modules/vsearch_ont.config'
includeConfig 'conf/modules/blast.config'
includeConfig 'conf/modules/build_references.config'
includeConfig 'conf/modules/trimming.config'