
// Resource limits for different jobs
process {

    errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    // Specific compute parameters for each process

    withLabel: short_serial {
                time = { 2.h * task.attempt }
                memory = { 8.GB * task.attempt }
                cpus = { 1 * task.attempt }
    }
    withLabel: medium_serial {
                time = { 8.h * task.attempt }
                memory = { 16.GB * task.attempt }
                cpus = { 1 * task.attempt }
    }
    withLabel: long_serial {
                time = { 24.h * task.attempt }
                memory = { 32.GB * task.attempt }
                cpus = { 1 * task.attempt }
    }
    withLabel: short_parallel {
                time = { 2.h * task.attempt }
                memory = { 8.GB * task.attempt }
                cpus = { 4 * task.attempt }
    }
    withLabel: medium_parallel {
                time = { 8.h * task.attempt }
                memory = { 16.GB * task.attempt }
                cpus = { 8 * task.attempt }
    }
    withLabel: long_parallel {
                time = { 24.h * task.attempt }
                memory = { 96.GB * task.attempt }
                cpus = { 8 * task.attempt }
    }
    withLabel: extra_long_parallel {
                time = { 96.h * task.attempt }
                memory = { 120.GB * task.attempt }
                cpus = { 8 * task.attempt }
    }

}