process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: HELPER_FILTER_TAXONOMY {
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BLAST_BLASTN {
        ext.args = [
            "-task 'megablast'", 
            "-evalue ${params.blast_evalue}",
            "-perc_identity ${params.blast_perc_id}",
            "-qcov_hsp_perc ${params.blast_qcov}",
            "-outfmt '6 qseqid sseqid evalue pident bitscore sacc staxid length mismatch gaps stitle'",
            params.disable_low_complexity ? "${params.blast_low_complexity}" : ''
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/blast" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BLAST_FILTER_BITSCORE {
        ext.args = "--bit_diff ${params.blast_bitscore_diff}"
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/blast/raw" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_FIND_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/blast/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_CREATE_BLAST_MASK {
        publishDir = [
            path: { "${params.outdir}/blast/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUTADAPT {
        ext.args = params.cutadapt_options
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
            enabled: false
        ] 
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: PTRIMMER {
        publishDir = [
            path: { "${params.outdir}/ptrimmer" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PRIMER_DISAMBIGUATE|FASTX_REVERSE_COMPLEMENT' {
        publishDir = [
            path: { "${params.outdir}/primers" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

}