process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: UNZIP_REFERENCES {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: UNTAR_TAXONOMY {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_FILTER_TAXONOMY {
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BLAST_BLASTN {
        ext.args = [
            "-task 'megablast'", 
            "-evalue ${params.blast_evalue}",
            "-perc_identity ${params.blast_perc_id}",
            "-qcov_hsp_perc ${params.blast_qcov}",
            "-outfmt '6 qseqid sseqid evalue pident bitscore sacc staxid length mismatch gaps stitle'",
            params.disable_low_complexity ? "${params.blast_low_complexity}" : ''
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/blast" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BLAST_FILTER_BITSCORE {
        ext.args = "--bit_diff ${params.blast_bitscore_diff}"
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/blast/raw" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_FIND_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/blast/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_CREATE_BLAST_MASK {
        publishDir = [
            path: { "${params.outdir}/blast/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUTADAPT {
        ext.args = params.cutadapt_options
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
            enabled: false
        ] 
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: PTRIMMER {
        publishDir = [
            path: { "${params.outdir}/ptrimmer" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PRIMER_DISAMBIGUATE|FASTX_REVERSE_COMPLEMENT' {
        publishDir = [
            path: { "${params.outdir}/primers" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_DEREPFULL {
        ext.args = [
            "--strand plus",
            "--sizeout",
            "--fasta_width 0",
            "-minuniquesize 2"
        ].join(' ')
    }
    withName: VSEARCH_CLUSTER_SIZE {
        ext.args = [
            "--strand plus",
            "--sizein",
            "--sizeout",
            "--relabel OTU_",
            "--id ${params.vsearch_cluster_id}"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/OTUs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = [
            "--minsize 8",
            "--unoise_alpha 2"
        ].join(' ')
    }   
    withName: VSEARCH_FASTQFILTER {
        ext.args = [ 
            "--fastq_maxee ${params.max_expected_errors}",
            "--fastq_minlen ${params.amplicon_min_length}",
            "--fastq_maxlen ${params.amplicon_max_length}",
            "--fastq_maxn ${params.max_ns}"
        ].join(" ")
    }
    withName: VSEARCH_FASTQMERGE {
        ext.args = "--fastq_allowmergestagger"
    }
    withName: 'VSEARCH_DEREPFULL|VSEARCH_UCHIME_DENOVO|VSEARCH_CLUSTER_SIZE' {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/vsearch/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'VSEARCH_FASTQMERGE|VSEARCH_FASTQFILTER' {
        publishDir = [
            path: { "${params.outdir}/vsearch/raw" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: DADA2_ILLUMINA {
        ext.args = [
            params.max_expected_errors, 
            params.amplicon_min_length,
            params.amplicon_max_length,
            params.max_mismatch,
            params.remove_chimera ? 'TRUE' : 'FALSE'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/OTUs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: GUNZIP_TAXONOMY {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: HELPER_FORMAT_MIDORI {
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/midori/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: BLAST_MAKEBLASTDB {
        ext.args = "-dbtype nucl"
        publishDir = [
            path: { "${params.reference_base}/foodme2/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
}