params {
    primers {
        'amniotes_dobrovolny' {
            config = "conf/primers/16S_ILM_ASU184_meat.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "Illumina"
        }
        '16S_ILM_ASU184_meat' {
            config = "conf/primers/16S_ILM_ASU184_meat.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "Illumina"
        }
        '16S_IT_ASU184_meat' {
            config = "conf/primers/16S_ILM_ASU184_meat.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "IonTorrent"
        }
        '16S_ONT_ASU184_meat' {
            config = "conf/primers/16S_ONT_ASU184_meat.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "Nanopore"
        }
        '16S_ILM_ASU184_fish' {
            config = "conf/primers/16S_ILM_ASU184_fish.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "Illumina"
        }
        '16S_IT_ASU184_fish' {
            config = "conf/primers/16S_IT_ASU184_fish.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "IonTorrent"
        }
        '16S_ILM_ASU184_meat_fish' {
            config = "conf/primers/16S_ILM_ASU184_meat_fish.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "Illumina"
        }
        '16S_IT_ASU184_meat_fish' {
            config = "conf/primers/16S_ILM_ASU184_meat_fish.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
            target = [ "16S", "lrRNA", "LRNA" ]
            platform = "IonTorrent"
        }
        'COI_ILM_guenther_fish' {
            config = "conf/primers/COI_ILM_guenther_fish.config"
            description = "CO1 primer set described in Guenther et al."
            doi = "TBA"
            target = [ "CO1", "COX1", "cytochrome oxidase" ]
            platform = "Illumina"
        }
        'COI_IT_guenther_fish' {
            config = "conf/primers/COI_IT_guenther_fish.config"
            description = "CO1 primer set described in Guenther et al."
            doi = "TBA"
            target = [ "CO1", "COX1", "cytochrome oxidase" ]
            platform = "IonTorrent"
        }
        'COI_ONT_guenther_fish' {
            config = "conf/primers/COI_ONT_guenther_fish.config"
            description = "CO1 primer set described in Guenther et al."
            doi = "TBA"
            target = [ "CO1", "COX1", "cytochrome oxidase" ]
            platform = "Nanopore"
        }
        'cytb_ILM_ASU12_fish' {
            config = "conf/primers/cytb_ILM_ASU12_fish.config"
            description = "CYTB primer set described in BVL L10.00-12:2021-07"
            doi = "https://www.dinmedia.de/de/technische-regel/bvl-l-10-00-12/343253073"
            target = [ "CYTB" ]
            platform = "Illumina"
        }
        'cytb_IT_ASU12_fish' {
            config = "conf/primers/cytb_IT_ASU12_fish.config"
            description = "CYTB primer set described in BVL L10.00-12:2021-07"
            doi = "https://www.dinmedia.de/de/technische-regel/bvl-l-10-00-12/343253073"
            target = [ "CYTB" ]
            platform = "IonTorrent"
        }
        'cytb_ONT_ASU12_fish' {
            config = "conf/primers/cytb_ONT_ASU12_fish.config"
            description = "CYTB primer set described in BVL L10.00-12:2021-07"
            doi = "https://www.dinmedia.de/de/technische-regel/bvl-l-10-00-12/343253073"
            target = [ "CYTB" ]
            platform = "Nanopore"
        }
        'ITS2short_ILM_AGES_plants' {
            config = "conf/primers/ITS2short_ILM_AGES_plants.config"
            description = "ITS2-short primer set AGES private"
            doi = ""
            target = [ "ITS2" ]
            platform = "Illumina"
        }
        'trnLlong_ILM_Taberlet_plants' {
            config = "conf/primers/trnLlong_ILM_Taberlet_plants.config"
            description = "trnL-long primer set Taberlet"
            doi = "https://doi.org/10.1007/bf00037152"
            target = [ "trnL", "CLP" ]
            platform = "Illumina"
        }
    }
}