params {
    primers {
        'amniotes_dobrovolny' {
            config = "conf/primers/16S_ILM_ASU184_meat.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
        }
        '16S_ILM_ASU188_meat' {
            config = "conf/primers/16S_ILM_ASU184_meat.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
        }
        '16S_ILM_ASU188_fish' {
            config = "conf/primers/16S_ILM_ASU184_fish.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
        }
        '16S_ILM_ASU188_meat_fish' {
            config = "conf/primers/16S_ILM_ASU184_meat_fish.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
        }
        'COI_ILM_guenther_fish' {
            config = "conf/primers/COI_ILM_guenther_fish.config"
            description = "CO1 primer set described in Guenther et al."
            doi = "MISSING"
        }
        'cytb_ILM_ASU12_fish' {
            config = "conf/primers/cytb_ILM_ASU12_fish.config"
            description = "CYTB primer set described in BVL L10.00-12:2021-07"
            doi = "https://www.dinmedia.de/de/technische-regel/bvl-l-10-00-12/343253073"
        }
    }
}