params {
    primers {
        'amniotes_dobrovolny' {
            config = "conf/primers/amniotes_dobrovolny.config"
            description = "Amniote primer set described in Dobrovolny et al. 2019"
            doi = "10.1016/j.foodchem.2018.08.032"
        }
        'co1_guenther' {
            config = "conf/primers/co1_guenther.config"
            description = "CO1 primer set described in Guenther et al."
            doi = "MISSING"
        }
        'cytb_asu_bvl' {
            config = "conf/primers/cytb_asu_bvl.config"
            description = "CYTB primer set described in BVL L10.00-12:2021-07"
            doi = "https://www.dinmedia.de/de/technische-regel/bvl-l-10-00-12/343253073"
        }
    }
}