params {

  references {

    taxonomy {
      taxdb_url = "https://ftp.ncbi.nlm.nih.gov/blast/db/taxdb.tar.gz"
      taxdump_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz"
      taxid_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz"
      nodes = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/nodes.dmp"
      names = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/names.dmp"
      rankedlineage = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/rankedlineage.dmp"
      merged = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/merged.dmp"
      taxidlineage = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/taxidlineage.dmp"
    }

    genes {

      'its' {
        url = "https://s3.hpc.ut.ee/plutof-public/original/1dda2021-4893-4f2f-b50e-87bfea795267.tgz"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/its"
      }
      'lrna' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_lrRNA_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/lrna"
      }
      'srna' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_srRNA_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/srna"
      }
      'co1' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_CO1_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/co1"
      }
      'co2' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_CO2_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/co2"
      }
      'co3' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_CO3_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/co3"
      }
      'a6' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_A6_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/a6"
      }
      'a8' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_A8_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/a8"
      }
      'cytb' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_Cytb_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/cytb"
      }
      'nd1' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND1_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd1"
      }
      'nd2' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND2_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd2"
      }
      'nd3' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND3_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd3"
      }
      'nd4l' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND4L_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd4l"
      }
      'nd4' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND4_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd4"
      }
      'nd5' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND5_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd5"
      }
      'nd6' {
        url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB259_ND6_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd6"
      }

    }
    
  }
  
}
