params {

  references {

    taxonomy {
      taxdb = "https://ftp.ncbi.nlm.nih.gov/blast/db/taxdb.tar.gz"
      taxdump = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz"
    }

    genes {

      'lrna' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_lrRNA_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/lrna"
      }
      'srna' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_srRNA_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/srna"
      }
      'co1' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_CO1_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/co1"
      }
      'co2' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_CO2_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/co2"
      }
      'co3' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_CO3_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/co3"
      }
      'a6' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_A6_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/a6"
      }
      'a8' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_A8_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/a8"
      }
      'cytb' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_Cytb_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/cytb"
      }
      'nd1' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND1_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd1"
      }
      'nd2' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND2_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd2"
      }
      'nd3' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND3_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd3"
      }
      'nd4l' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND4L_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd4l"
      }
      'nd4' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND4_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd4"
      }
      'nd5' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND5_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd5"
      }
      'nd6' {
        blast_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/BLAST/uniq/MIDORI2_UNIQ_NUC_GB259_ND6_BLAST.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/nd6"
      }

    }
    
  }
  
}
