params {

  references {

    taxonomy {
      taxdb_url   = "https://ftp.ncbi.nlm.nih.gov/blast/db/taxdb.tar.gz"
      taxdump_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz"
      taxid_url   = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz"
      nodes       = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/nodes.dmp"
      names       = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/names.dmp"
      rankedlineage = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/rankedlineage.dmp"
      merged      = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/merged.dmp"
      taxidlineage = "${params.reference_base}/foodme2/${params.reference_version}/new_taxdump/taxidlineage.dmp"
      taxdb       = "${params.reference_base}/foodme2/${params.reference_version}/taxdb"
    }

    databases {

      'genbank' {
        url = false
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/core_nt"
        description = "NCBI GenBank Core NT database"
        version = "NA"
      }
      'refseq' {
        url = "https://ftp.ncbi.nlm.nih.gov/refseq/release/mitochondrion/mitochondrion.1.1.genomic.fna.gz"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/refseq"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/refseq/mitochondrion.1.1.genomic.fna"
        description = "NCBI RefSeq Mitochondria"
        version = "1.1"
      }
      'ncbi_its' {
        url = "https://ftp.ncbi.nlm.nih.gov/blast/db/ITS_eukaryote_sequences.tar.gz"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/ncbi_its"
        description = "NCBI ITS Eukaryotes"
        version = "NA"
      }
      'unite' {
        url = "https://s3.hpc.ut.ee/plutof-public/original/1dda2021-4893-4f2f-b50e-87bfea795267.tgz"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/unite"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/unite/unite.fasta"
        description = "UNITE ITS database 10.0"
        version = "10.0"
      }
      'lrna' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_lrRNA_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/lrna"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/lrna/lrna.fasta"
        description = "Midori lRNA"
        version = "Genbank 267"
      }
      'srna' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_srRNA_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/srna"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/srna/srna.fasta"
        description = "Midori sRNA"
        version = "Genbank 267"
      }
      'co1' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_CO1_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/co1"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/co1/co1.fasta"
        description = "Midori co1"
        version = "Genbank 267"
      }
      'co2' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_CO2_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/co2"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/co2/co2.fasta"
        description = "Midori co2"
        version = "Genbank 267"
      }
      'co3' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_CO3_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/co3"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/co3/co3.fasta"
        description = "Midori co3"
        version = "Genbank 267"
      }
      'a6' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_A6_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/a6"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/a6/d6.fasta"
        description = "Midori a6"
        version = "Genbank 267"
      }
      'a8' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_A8_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/a8"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/a8/a8.fasta"
        description = "Midori a8"
        version = "Genbank 267"
      }
      'cytb' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_Cytb_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/cytb"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/cytb/cytb.fasta"
        description = "Midori cytB"
        version = "Genbank 267"
      }
      'nd1' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND1_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd1"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd1/nd1.fasta"
        description = "Midori nd1"
        version = "Genbank 267"
      }
      'nd2' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND2_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd2"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd2/nd2.fasta"
        description = "Midori nd2"
        version = "Genbank 267"
      }
      'nd3' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND3_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd3"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd3/nd3.fasta"
        description = "Midori nd3"
        version = "Genbank 267"
      }
      'nd4l' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND4L_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd4l"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd4l/nd4l.fasta"
        description = "Midori nd4l"
        version = "Genbank 267"
      }
      'nd4' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND4_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd4"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd4/ndf4.fasta"
        description = "Midori nd4"
        version = "Genbank 267"
      }
      'nd5' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND5_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd5"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd5/nd5.fasta"
        description = "Midori nd5"
        version = "Genbank 267"
      }
      'nd6' {
        url = "https://www.reference-midori.info/download/Databases/GenBank267_2025-06-19/BLAST/uniq/fasta/MIDORI2_UNIQ_NUC_GB267_ND6_BLAST.fasta.zip"
        blast_db = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd6"
        fasta = "${params.reference_base}/foodme2/${params.reference_version}/databases/nd6/nd6.fasta"
        description = "Midori nd6"
        version = "Genbank 267"
      }

    }
    
  }
  
}
