params {
    database = "lrna" 
    fasta = "${baseDir}/assets/primers/16S_ASU184.fasta"

    disable_low_complexity = false
    blast_low_complexity = "-dust no -soft_masking false"
    blast_evalue = "1e-20"
    blast_qcov = 100
    blast_perc_id = 97
    blast_bitscore_diff = 4
    blast_min_consensus = 0.51

    taxid_filter = 32524 // amniotes

    non_overlapping = false

    vsearch = false

    remove_chimera = true

    // MA - Mean: 74.77, StdDev: 7.17, min: 60.43, max: 89.12
    // MA_ALT - Mean: 74.69, StdDev: 7.53, min: 59.62, max: 89.76
    // POL - Mean: 75.23, StdDev: 7.02, min: 61.19, max: 89.27
    amplicon_min_length = 60
    amplicon_max_length = 90
    
    max_expected_errors = 4.0 // err: 0.05
    max_ns = 0
    merging_max_mismatch = 1

    pacbio = false
    iontorrent = true
    ont = false

    fastp_options = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 20"

    cutadapt_trim_3p        = true
    cutadapt_trim_flex      = false
    cutadapt_options        = "-m 40"
} 