params {
   
    description = "Amniote primer set described in Dobrovolny et al. 2019"
    database = "lrna"
    doi = "10.1016/j.foodchem.2018.08.032"
    maxee = 2.0
    minlen = 65
    maxlen = 110
    fasta = "${baseDir}/assets/primers/amniotes_dobrovolny.fasta"
    taxid_filter = 32524
    cutadapt_trim_3p = true

}