params {

    database = "co1" 
    fasta = "${baseDir}/assets/primers/COI_guenther.fasta"

    disable_low_complexity = false
    blast_low_complexity = "-dust no -soft_masking false"
    blast_evalue = "1e-20"
    blast_qcov = 97
    blast_perc_id = 97
    blast_bitscore_diff = 4
    blast_min_consensus = 0.61

    taxid_filter = 32443 // teleost fish

    non_overlapping = false

    vsearch = true

    remove_chimera = true

    // Mean: 312.79, StdDev: 1.95, min: 308.9, max: 316.69
    amplicon_min_length = 250
    amplicon_max_length = 350
    
    max_expected_errors = 15.6 // err 0.05
    max_ns = 0
    merging_max_mismatch = 1

    pacbio = false
    iontorrent = false
    ont = true

    fastp_options = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 20"

    cutadapt_trim_3p        = false
    cutadapt_ont            = true
    cutadapt_trim_flex      = false
    cutadapt_options        = "-m 40"
} 