params {
    
    database = "co1" 
    fasta = "${baseDir}/assets/primers/COI_park.fasta"

    disable_low_complexity = false
    blast_low_complexity = "-dust no -soft_masking false"
    blast_evalue = "1e-20"
    blast_qcov = 100
    blast_perc_id = 97
    blast_bitscore_diff = 4
    blast_min_consensus = 0.51

    taxid_filter = 50557 // insecta

    non_overlapping = false

    vsearch = false

    max_mismatch = 1
    remove_chimera = true

    // Mean: 402.87, StdDev: 1.01, min: 400.85, max: 404.89
    amplicon_min_length = 400
    amplicon_max_length = 405
    
    max_expected_errors = 6.0 // err: 0.025, but capping at 6.0
    max_ns = 0
    merging_max_mismatch = 1

    pacbio = false
    iontorrent = false
    ont = false

    fastp_options = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 25"

    cutadapt_trim_3p        = false
    cutadapt_trim_flex      = false
    cutadapt_options        = "-m 40"

} 