params {

    database = "cytb" 
    fasta = "${baseDir}/assets/primers/cytb_ASU12.fasta"

    disable_low_complexity = false
    blast_low_complexity = "-dust no -soft_masking false"
    blast_evalue = "1e-20"
    blast_qcov = 97.0
    blast_perc_id = 97.0
    blast_bitscore_diff = 4
    blast_min_consensus = 0.51

    taxid_filter = 32443 // teleost fish

    non_overlapping = false

    vsearch = false

    remove_chimera = true

    // Mean: 402.4, StdDev: 14.98, min: 372.43, max: 432.37
    amplicon_min_length = 370
    amplicon_max_length = 450

    max_expected_errors = 20.7 // err 0.05
    max_ns = 0
    merging_max_mismatch = 1

    pacbio = false
    iontorrent = true
    ont = false

    fastp_options = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 20"

    cutadapt_trim_3p        = true
    cutadapt_trim_flex      = false
    cutadapt_options        = "-m 40"

} 