params {

    database = "genbank"
    fasta = "${baseDir}/assets/primers/rbcL_Little.fasta"

    disable_low_complexity = false
    blast_low_complexity = "-dust no -soft_masking false"
    blast_evalue = "1e-30"
    blast_qcov = 100
    blast_perc_id = 98
    blast_bitscore_diff = 4
    blast_min_consensus = 0.51

    non_overlapping = false

    vsearch = false

    taxid_filter = 3398 // magnoliopsida flowering plants

    remove_chimera = true
    max_ns = 0
    merging_max_mismatch = 2

    max_expected_errors = 4.5  //  err: 0.025

    // Mean: 183,99, stddev: 0,18, min: 183, max: 184 - allow for 1-2 indels
    amplicon_min_length = 181
    amplicon_max_length = 186
    
    pacbio = false
    iontorrent = false
    ont = false

    fastp_options = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 25"

    cutadapt_trim_3p    = false
    cutadapt_trim_flex  = false
    cutadapt_options    = "-m 40"

} 