params {

    database = "genbank"
    fasta = "${baseDir}/assets/primers/trnL-long_taberlet.fasta"

    disable_low_complexity = false
    blast_low_complexity = "-dust no -soft_masking false"
    blast_evalue = "1e-30"
    blast_qcov = 94
    blast_perc_id = 94
    blast_bitscore_diff = 8
    blast_min_consensus = 0.65

    non_overlapping = true

    vsearch = false

    taxid_filter = 3398 // magnoliopsida flowering plants

    remove_chimera = true
    max_ns = 0
    merging_max_mismatch = 2

    max_expected_errors = 2 // err: 0.025, should be 12.5 but cap at 6

    // Mean: 366,25, std: 56,55, min: 253, max: 479 - manually set boundaries to avoid entire group exclusion
    amplicon_min_length = 169
    amplicon_max_length = 500
    
    pacbio = false
    iontorrent = false
    ont = false

    fastp_options = "-l 50 -3 --cut_tail_window_size 4 --cut_tail_mean_quality 25"

    cutadapt_trim_3p    = false
    cutadapt_trim_flex  = true
    cutadapt_options    = "-m 40"

} 