name: Unit tests

on: 
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
    branches:
      - main
  pull_request_target:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3, 4]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Nextflow 24.10.5
        uses: nf-core/setup-nextflow@v2
        with:
          version: 24.10.5

      - name: Setup Apptainer
        uses: eWaterCycle/setup-apptainer@4bb22c52d4f63406c49e94c804632975787312b3 # v2.0.0
        with:
          apptainer-version: 1.3.4

      - name: Install nf-test
        run: |
          wget -qO- https://get.nf-test.com | bash -s 0.9.2
          sudo mv nf-test /usr/local/bin/

      - name: Run Tests (Shard ${{ matrix.shard }}/${{ strategy.job-total }})
        env:
          NXF_APPTAINER_CACHEDIR: ./
          NXF_APPTAINER_HOME_MOUNT: true
        run: nf-test test --ci --shard ${{ matrix.shard }}/${{ strategy.job-total }} --profile apptainer,github_test